// Colors
$dark: #394b50;
$light: #fff;
$accent--yellow: #ffbb42;
$accent--blue: #709dca;
$accent--grey: #7b7b7b;

// Fonts
$font--main: 'Open Sans', sans-serif;
$font--title: 'Lato', sans-serif;
$font--subtitle: 'Gotham Black', sans-serif;

// Grid
$grid-gutter: 30px;
$grid-columns: 12;
$breakpoints: ( 'xs': 576px, 'sm': 576px, 'md': 768px, 'lg': 992px, 'xl': 1200px );

// Fonts
$font-path: '../fonts';
$fa-font-path: $font-path;
